.window-drop-downs {
  display: inline-flex;
    justify-content: flex-start;
  height: var(--wdd-height, 20px);
  line-height: var(--wdd-height, 20px);
  position: relative;
}

.window-drop-downs .drop-down {
  font-size: 11px;
  height: 100%;
  position: relative;
}

.window-drop-downs .drop-down__label--active {
  background-color: #1660e8;
  color: #fff;
}

.window-drop-downs .drop-down__label {
  padding: 0 7px;
}

.window-drop-downs .drop-down__label:hover {
  background-color: #1660e8;
  color: #fff;
}