:root {
  --titlebar-gradient: linear-gradient(90deg, #6a1535, #b23965, #f9a5b9);
  --dialog-blue: #6a1535;
  --dialog-accent: white; 
  --titlebar-color: white; 
  --player-image: url(https://i.pinimg.com/originals/e9/39/15/e93915de0f13d4f47c8ddeecabe8a163.gif);
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --light-button-shadow: #a9a9a9;
  --window-frame: #0a0a0a;
  --border-field:
    inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow),
    inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
}

.seeking {
  font-weight: normal;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 12px 0;
}

.player-flex {
  display: flex;
  gap: 3px;
}

.player-main {
  width: calc(100% - 100px);
  margin-top: 1px;
}

.player-icon-holder {
  border: 2px solid var(--surface);
  width: 95px;
  height: 95px;
  padding: 1px;
  background-image: linear-gradient(-45deg, rgb(144, 154, 228), rgba(193, 192, 207, 0.5)), var(--player-image);
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-shadow) var(--button-highlight)
    var(--button-highlight) var(--button-shadow);

  overflow: hidden;
  position: relative;
  z-index: 2;
}

.player-icon {
  background-image: var(--player-image);
  background-size: contain;
  background-repeat: no-repeat;
  width: 95px;
  height: 95px;
  display: display;
}
.player-buttons {
  display: flex;
  gap: 10px;
  margin: 5px 5px 0 5px;
}
.player-buttons .window-button {
  width: 33%;
  font-size: 10px;
  padding: 5px 10px;
}
